/*COSTUM OVERWRITE*/
.darkMode {
  background-color: 'none';
}

.rmdp-wrapper.darkMode.rmdp-shadow {
  background: none;
}

.frontpage-calendar .rmdp-wrapper.rmdp-shadow.rmdp-wrapper.rmdp-shadow {
  box-shadow: none;
}
.rmdp-wrapper.rmdp-shadow.rmdp-wrapper.rmdp-shadow {
  box-shadow: 0px 0px 6px 2px #23272a;
}
.rmdp-wrapper .rmdp-header-values {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.rmdp-wrapper.darkMode .rmdp-border-right {
  border-right: 1px solid rgb(212, 212, 212, 0);
}
.rmdp-wrapper.darkMode .rmdp-panel-body span,
.rmdp-wrapper.darkMode .rmdp-panel-body li .b-deselect {
  color: rgb(212, 212, 212);
}

.rmdp-wrapper.darkMode .rmdp-panel-header {
  color: rgb(212, 212, 212);
}

.rmdp-wrapper.darkMode .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  border: 1px solid black;
  background-color: #23272a;
  color: black;
}
.rmdp-wrapper.darkMode .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #23272a;
}
.rmdp-wrapper.darkMode .rmdp-header-values {
  color: rgb(212, 212, 212);
}
.rmdp-wrapper.darkMode .rmdp-day span {
  color: white !important;
}

.rmdp-wrapper .rmdp-calendar {
  height: 100%;
  background-color: '#424242';
}

.rmdp-wrapper {
  width: 100% !important;
}
.rmdp-wrapper .rmdp-arrow-container {
  align-items: center;
}
.rmdp-wrapper .rmdp-calendar .rmdp-header {
  height: min-content;
}
.rmdp-top-class {
  display: grid !important;
  grid-template-columns: 3fr 1fr;
  height: 100%;
  border-radius: 5;
}
.rmdp-wrapper.rmdp-shadow {
  box-shadow: 0px 0px 6px 2px #c1c1c1;
}
.rmdp-wrapper .rmdp-selected .highlight {
  box-shadow: none;
}
.rmdp-wrapper {
  width: 100%;
  max-width: 720px;
  /* height: 300px; */
}
.rmdp-wrapper .rmdp-top-class {
  display: grid;
  grid-template-columns: 2fr, auto;
  width: auto;
}
.rmdp-wrapper .rmdp-day {
  border: 1px solid #f6f6f6;
  width: 100%;
}
.rmdp-wrapper.darkMode.rmdp-shadow .rmdp-day {
  border: 1px solid rgb(107, 106, 106);
}

.rmdp-panel.right {
  width: auto;
}

.rmdp-wrapper .rmdp-day span {
  border-radius: 25px;
}
.rmdp-wrapper .rmdp-calendar,
.rmdp-wrapper .rmdp-calendar > div {
  height: 100%;
  width: 100%;
}
.rmdp-wrapper .rmdp-day-picker > div {
  width: 100%;
}
/* dates not allowed to select*/
.rmdp-wrapper .rmdp-day.rmdp-disabled {
  cursor: default;
}

.rmdp-wrapper .rmdp-day.rmdp-today span {
  background-color: transparent;
  color: black;
  border: 1px solid lightgray;
  background-color: rgba(97, 95, 95, 0.301);
  background-color: #f6f6f6;
}

.rmdp-wrapper.darkMode .rmdp-day.rmdp-today span {
  background-color: none;
  border: 1px solid lightgray;
  background: none;
}
.rmdp-wrapper.darkMode .rmdp-week .rmdp-week-day {
  color: #dd9933;
}

.rmdp-wrapper .rmdp-day.rmdp-selected span:not(.highlight) {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.rmdp-wrapper .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.rmdp-wrapper .rmdp-arrow-container.disabled {
  cursor: none;
}

/* dates not allowed to select*/
.rmdp-wrapper .rmdp-arrow-container.disabled .rmdp-arrow {
  display: none;
}

.rmdp-wrapper .rmdp-arrow-container:hover {
  background-color: #f3b14f;
  color: white;
}
.rmdp-wrapper .rmdp-arrow-container:hover .rmdp-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
}

.rmdp-week .rmdp-week-day {
  color: #b2700e;
  font-weight: Bold;
  width: 100%;
}

@media only screen and (max-width: 340px) {
}

.highlight.highlight-weekend {
  color: #cd8f34;
  font-weight: bold;
}
.rmdp-wrapper .rmdp-arrow {
  border-color: #dd9933;
  margin-top: 0;
}

.rmdp-wrapper .rmdp-panel-body {
  /*   border-top: 1px solid black; */
  width: 100%;
}

.rmdp-wrapper .rmdp-panel-body li,
.rmdp-panel-body li {
  background: transparent;
  color: black;
  border: 1px solid lightgray;
  box-shadow: none;
  display: flex;
  justify-items: space-between;
  justify-content: center;
  align-items: center;
  /*   border-bottom: 1px solid lightgray; */
}
.rmdp-wrapper .rmdp-panel-body li .b-deselect {
  /*   border: 1px solid rgb(205, 123, 123);
 */
  padding: 2px;
  height: 17px;
  width: 17px;
  position: relative;
  transform: rotate(45deg);
  font-size: 22px;
  color: #514c4c;
}

/* FRONTPAGE CALENDAR*/
.frontpage-calendar .rmdp-wrapper .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: rgb(223, 90, 90);
}
.frontpage-calendar .rmdp-wrapper .rmdp-day {
  cursor: default;
}
.frontpage-calendar .rmdp-wrapper .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: rgba(255, 0, 0, 0);
  color: #000;
}

.frontpage-calendar .rmdp-wrapper .rmdp-top-class {
  display: flex !important;
}

.frontpage-calendar .rmdp-wrapper .rmdp-calendar .rmdp-day-picker {
  display: flex;
  gap: 30px;
}
.frontpage-calendar .rmdp-wrapper {
  max-width: none;
  width: 100%;
  box-shadow: none;
}
